*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #222;
}

.container{
    width:90%;
    /* max-height: 100vh; */
    max-width: 450px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: white;
    margin: 100px auto;
    padding: 40px 35px;
    text-align: center;
    border-radius:20px;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    height: 50px;
    border-radius: 25px;
    padding: 5px 20px 5px 15px;
    flex: 1;
    margin-right: 15px;
    font-size: 18px;
}
.search button{
    height:50px;
    width: 50px;
    background-color: #ebfffc;

    border-radius: 50%;
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.search button img{
    height: 15px;
    object-fit: cover;
    background-size:cover ;
}

.weather-icon{
    width: 150px;
    margin-top: 30px;
}

.weather h1{
    font-size: 60px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 200;
    /* margin-top: -10px; */
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    /* padding: 0 20px; */
}
.col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}
.col img{
    height:30px;
    /* width:40px; */
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 30px;
    margin-top: -5px;
}

.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    color: red;
    display: none;
}